/* Just an example every merchant will have their own styles */
.abra-banner-container {
  position: relative;
  min-height: 120px;
  display: none;
}

.abra--initialized .abra-banner-container {
  display: block !important;
}

.abra-banner-content {
  position: relative;
  z-index: 2;
  background: white;
}

.abra-banner-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.abra-banner-spinner {
  width: 30px;
  height: 30px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: block !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}